.uno{
     border-radius: 15px;
     width: 250px;
     height: 250px;
}
.dos{
    border-radius: 15px;
    width: 250px;
    height: 250px;
}
.tres{
    border-radius: 15px;
    width: 250px;
    height: 250px;

}
.cuatro{
    border-radius: 15px;
    width: 250px;
    height: 250px;

}
.cinco{
    border-radius: 15px;
     width: 250px;
    height: 250px;

}
h2{
    margin-left: 50px;
}